<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchoolMeal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Meals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SchoolMeal.Properties.Settings>
            <setting name="backgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="isWindowVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isStartingProgram" serializeAs="String">
                <value>False</value>
            </setting>
        </SchoolMeal.Properties.Settings>
        <Meals.Properties.Settings>
            <setting name="isStartingProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>White</value>
            </setting>
        </Meals.Properties.Settings>
    </userSettings>
</configuration>
